:root {
    /* General properties */
    --background-col: #f5f5f5;

    /* NavBar */
    --navbar-width: 72px;
    --navbar-icon-spacing: 20px;
    --navbar-background-col: #23272f;
    --navbar-background-hover-col: #2b303a;
    --navbar-icon-size: 45px;
    /* To set color of svg filter go to: https://isotropic.co/tool/hex-color-to-css-filter/ */
    --navbar-icon-svg-filter: invert(74%) sepia(61%) saturate(367%) hue-rotate(4deg) brightness(98%) contrast(79%);
}