
/* Settings page styles */
.Settings {
    /* Positioning */
    position: relative;
    width: 60%;
    margin-top: var(--settings-padding-size);
    margin-left: auto;
    margin-right: auto;
    
    /* Other Styles */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Text styles */
.Settings > h1 {
    font-size: var(--settings-header-size);
    text-decoration: underline;
    color: var(--navbar-background-col);
}

.Settings > h2 {
    font-size: var(--settings-subheader-size);
    color: var(--navbar-background-col);
    margin-top: 0.9vw;
}

.Settings p {
    font-weight: bold;
    font-size: 1.0vw;
    color: var(--navbar-background-col);
}

.Settings > hr {
    width: 50%;
}

.SettingsInput {
    width: 50%;
    float: right;
    margin-bottom: 0%;
}

.SettingsInput input {
    padding: 0.8vw;
}

.SettingsLabel {
    width: 50%;
    float: left;
}

.SettingsLabel > p {
    margin-top: 2.2vw;
}

/* Meter display styles */
.MeterSettings {
    margin-left: auto;
    margin-right: auto;
    padding: 1.25vw;
    padding-top: 0.625vw;
    width: 60%;
    margin-bottom: 3%;
    text-align: left;
    display: inline-block;

    /* Border Styles */
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.MeterSettings > .MeterLabels {
    width: 50%;
    height: 100%;
    float: left;
}

.MeterLabels > h1 {
    font-size: var(--settings-meter-header-size);
    text-decoration: underline;
}

.MeterLabels > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.9375vw;
}

.MeterLabels > button {
    margin-top: 2.5vw;
    padding: 0.625vw;
    width: 40%;
}

.MeterSettings > .MeterImage {
    float: right;
    margin-top: 0.625vw;
    width: 40%;
}

.MeterImage > img {
    width: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Button styles */
.RemoveButton {
    background-color: var(--settings-remove-button);
}

.RemoveButton:hover {
    background-color: var(--settings-remove-button-hover);
}

.RemoveButton:active {
    background-color: var(--settings-remove-button-active);
}

/* Reset defaults button */
.ResetButton {
    padding: 0.625vw;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    margin-bottom: 1vw;
    font-size: 0.83vw;
}

/* Add meter id button */
.AddMeterButton {
    background-color: var(--settings-add-meter-button);
    color: white;
    margin-top: 1.25vw;
    margin-bottom: 1.25vw;
    padding: 0.625vw;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    border-radius: 5px;
}

.AddMeterButton:hover {
    background-color: var(--settings-add-meter-button-hover);
}

.AddMeterButton:active {
    background-color: var(--settings-add-meter-button-active);
}
