.dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1.4%;
    height: 100vh; /* Ensure the dashboard takes up the full viewport height */
    box-sizing: border-box; 
  }
  
  .header {
    padding: 0.8%;
    background-color: var(--navbar-background-col);
    color: var(--navbar-icon-col-hex);
    text-align: center;
    font-size: 1.05vw;
    border-radius: 5px;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.4%;
    font-size: 1.04vw;
    gap: 1.4%; /* Add some space between the cards */
  }
  
  .card {
    width: 17%;
    height: 80%;
    background-color: #ebedee;
    color: var(--navbar-background-col);
    position: relative;
    padding: 1.4%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect*/
  }
  
  .circle {
    width: 16.3vh;
    height: 16.3vh;
    border-radius: 50%;
    background-color: var(--navbar-icon-col-hex);
    color: var(--navbar-background-col);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7% auto;
    font-size: 1.5vw; /* Increase font size for visibility */
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 1.4%; /* Increase padding to accommodate larger buttons */
  }
  
  .footer-button {
    background-color: var(--navbar-background-col);
    color: var(--navbar-icon-col-hex);
    padding: 2vh 2vw;
    font-size: 1.25vw;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for buttons */
    cursor: pointer; /* Add cursor pointer for better UX */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .footer-button:hover {
    background-color: #1c1f25; /* Darker blue on hover */
  }
  