
/* Common pop-up component style sheet */
.modal-confirmation {
    position: fixed;
    background-color: white;
    justify-content: center;

    width: 30%;
    min-height: 270px;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 10px;
}

.modal-confirmation-content {
    padding: 24px;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-confirmation-content > button {
    width: 100px;
    height: 40px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

/* Add meter popup styles */
.modal-add-meter {
    position: fixed;
    background-color: white;
    justify-content: center;

    width: 40%;
    min-height: 270px;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 10px;
}

.modal-add-meter-content {
    padding: 4%;
    padding-top: 0px;
    justify-content: left;
    text-align: left;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 40%;
}

.modal-add-meter-content > input {
    margin: 3%;
    height: 24px;
}

.modal-add-meter-image {
    padding: 4%;
    padding-top: 0px;
    justify-content: left;
    text-align: left;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-add-meter > .modal-add-meter-image {
    float: right;
    margin-top: 24px;
    width: 40%;
}

.modal-add-meter-image > img {
    width: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Corner close button styles */
.close {
    position: absolute;

    top: -8px;
    right: -8px;
    border: 0px;
    height: 24px;
    width: 24px;
    font-size: 18px;
    border-radius: 24px;
}

.close:hover {
    background-color: #e7e6e6;
}

.close:active {
    background-color: #d8d8d8;
}

