
/* Statistic display page container */
.UsageStatistics {
    width: 24%;
    height: 60%;
    margin-left: var(--statistics-margin);
    margin-right: 5%;
    margin-top: var(--statistics-margin);
    margin-bottom: var(--statistics-margin);
    overflow: hidden;

    /* Border styles */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header bar styles */
.UsageStatisticsBar {
    display: flex;
    height: 10%;
    justify-content: center;

    background-color: var(--navbar-background-col);
}

.UsageStatisticsBar > p {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 1.3vw;
    font-weight: bold;
    text-wrap: nowrap;
    color: var(--navbar-icon-col-hex);
}

.UsageStatisticsDisplay {
    width: 100%;
    display: flex;
    overflow-y: auto;
}

.UsageStatisticsLabels {
    width: 50%;
    overflow: hidden;
    text-wrap: nowrap;
}

.UsageStatisticsValues {
    width: 50%;
    overflow: hidden;
    text-wrap: nowrap;
}

.UsageStatisticsLabels > p {
    font-size: 0.95vw;
    margin-left: 20%;
    color: var(--navbar-background-col);
}

.UsageStatisticsValues > p {
    font-size: 0.95vw;
    text-align: center;
    color: var(--navbar-background-col);
}

/* Progress bar styles */
.UsageStatisticsDisplay > progress {
    margin: "auto";
    width: 80%;
    border: 1px solid;
    border-radius: 0.5vw;
    height: 1vw;
}

progress::-webkit-progress-value {
    border-radius: 0.5vw;
}

progress::-webkit-progress-bar {
  background: var(--background-col);
  border-radius: 0.5vw;
}

.lowUsage::-webkit-progress-value {
    background-color: rgba(49, 196, 93, 255);
}

.warningUsage::-webkit-progress-value {
    background-color: rgba(245, 189, 49, 255);
}

.highUsage::-webkit-progress-value {
    background-color: rgba(252, 40, 40, 255);
}
